TORRENT_CLIENT_USERNAME=admin
TORRENT_CLIENT_PASSWORD=change-this-password
TORRENT_CLIENT_AUTH_ENABLED=1
TORRENT_CLIENT_CORS_ORIGINS=http://127.0.0.1:8080,http://localhost:8080
TORRENT_CLIENT_DATA_DIR=/var/lib/torrent-client/data
TORRENT_CLIENT_DEFAULT_DOWNLOAD_DIR=/var/lib/torrent-client/downloads
TORRENT_CLIENT_ALLOWED_DOWNLOAD_ROOTS=/var/lib/torrent-client/downloads
TORRENT_CLIENT_MAX_TORRENT_FILE_BYTES=2097152
TORRENT_CLIENT_MIN_FREE_SPACE_BYTES=5368709120
